<!--TODO implement protected entries?-->

---
import Tag from "../../../components/Tag.astro";
import {getCollection, render} from "astro:content";
import Default from "../../../layouts/default.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const filteredPosts = posts.filter(post => post.data.listing === "published" || post.data.listing === "unlisted");

  return filteredPosts.map((post) => ({
    params: {id: post.id},
    props: {post},
  }));
}

const {post} = Astro.props;
const {Content} = await render(post);
---

<Default title={post.data.title}>
  <article>
    <div class="blog-page">
      <div class="main-column">
        <Content/>
      </div>

      <div class="container">
        <h3>* Metadata</h3>
        <div class="metadata">
          {post.data.listing === "unlisted" ? <p>◆ unlisted</p> : null}
          <p>∞ {new Date(post.data.publishDate).toISOString().slice(0, 10)}</p>
          <p>© Koehn Humphries</p>
          <span>
            # {post.data.tags.map((tag) =>
              <Tag tag={tag}/>)}
          </span>
        </div>
      </div>
    </div>
  </article>
</Default>
