---
import Default from "../../../layouts/default.astro";
import BlogPost from "../../../components/BlogPost.astro";
import { getCollection } from "astro:content";
import TagComponent from "../../../components/Tag.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog")

  const filteredPosts = posts.filter((post) => post.data.listing === "published")

  const uniqueTags = [...new Set(filteredPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const finishedFilter = filteredPosts.filter((post) => post.data.tags.includes(tag));

    return {
      params: { tag },
      props: {
        finishedFilter,
        uniqueTags,
      },
    };
  });
}

const { tag } = Astro.params;
const {finishedFilter, uniqueTags} = Astro.props;
---

<Default title={"#" + tag}>
  <div class="blog-page">
    <div class="main-column tag-page">
      <h3>
        * Posts Tagged
      </h3>
      {
        finishedFilter.map((post) => (
          <BlogPost
            url={`/blog/posts/${post.id}`}
            title={post.data.title}
            date={new Date(post.data.publishDate).toISOString().slice(0, 10)}
          />
        ))
      }
      <p>
        {
          finishedFilter.slice(1).length < 5
            ? "∞ That's all the posts for now!"
            : ""
        }
      </p>
    </div>
    <div class="container">
      <h3>* About</h3>
      <p>
        Welcome to the tag page! Here you can find all the posts that have been
        tagged with <span style="color: var(--primary-color) !important;"
          >#{tag}</span
        >!
      </p>
      <h3>* Tags - ({uniqueTags.length})</h3>
      <span style="display: flex; flex-wrap: wrap;"
        >{uniqueTags.map((tagdef) => <TagComponent tag={tagdef} />)}</span
      >
    </div>
  </div>
</Default>
